.searchBoxInputBox{
    width: 100%;
    border: 0px solid;
    background-color: #e5e6f1 ;
   
    padding:7px 10px;
    border-radius: 5px;
}

@media(max-width: 820px){
    .searchBoxInputBox{
        width: 100%;
    }

}