
.swimlanes {
    display: flex;
    flex-direction: column;
}
      /* The swimlanes__column element groups the heading and the list */
      .swimlanes__column {
      min-width: 15rem; /* this is what makes the concept legible when there are many swimlanes */
      flex: 1;  /* to keep everything equally sized */
      background: #FFCB42;  /* replace with casper color variable */
      padding: 0.5rem;
      border-radius: 0.5rem;
      margin: 0.5rem;
  
    }
    .swimlanes :hover {
      background-color: #FFF4CF;
    }
    
    /*  nuke the ULs inherited margin and padding  */  
    .swimlanes__list {
      padding: 0;
      margin: 0;
    }
    
  
    .swimlanes__listItem {
      list-style-type: none;
      margin: 0.5rem 0;
      padding: 1rem;
      background: #FFF;
      border-radius: 0.25rem;
    }
  
  
  /* From 48rem and up we switch the flex-direction to row for horizontally stacked swimlanes */
  @media (min-width: 48rem) {
    .swimlanes {
      flex-direction: row;
      overflow-x: scroll;
    }
    .swimlanes__column {
        min-height:45rem;
    }
  }