
.card {
  background-color: #277BC0 !important;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  
}
.card :hover {
  background-color: #277BC0 !important;
}


.heading {
  font-size: 15px;
 
}

.desc {
  margin: 15px 0;
  font-size: 15px;
}

.button {
  width: 100px;
  height: 25px;
  display: inline-block;
  color: black;
  font-size: 14px;
 
  border: #579BB1 2px solid;
  border-radius: 5px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFE69A !important;
  cursor: pointer;
}
.buttonCardContainer{
  display: flex;
  justify-content: space-between;
}
.button:hover {
  width: 50%;
  background: #C4DFAA !important;
  color: black;
}
.deleteBtn:hover {
  width: 60%;
  background: #FF7B54 !important;
  color: black;
}
